<% include ../../partials/header %>
<h1 class="project-title">The Enforcer: Production Business Plan</h1>
<div class="p-container">
    <p class="text-justify">Below is the business plan for the production of my screenplay, The Enforcer. 
                            The business plan contains a complete production budget, shooting schedule, 
                            and other documentation required for a potential production. To read the 
                            complete screenplay for The Enforcer <a href="/projects/enforcer">click here</a>.</p>

    <div class="embed-responsive"></div>
        <iframe class="embed-responsive-item" src="https://s3.amazonaws.com/seubsworld-assets/assets/Interceptor_business_plan.pdf" width="100%" height="800px" allowfullscreen></iframe>
    </div>
</div>

<!-- <div class="form-group p-container">
    <form action="" method="POST">
        <label for="exampleFormControlTextarea1">Comments:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="button" class="btn btn-dark">Submit</button>  
    </form>
</div> -->

<% include ../../partials/footer %>