<% include ../../partials/header %>
<div class="container">
    <h1 class="project-title">STILL PHOTOGRAPHY GALLERY</h1>
    <br>
    <br>
    <br>
    <center>
    <h2>Sunset on the Embarcadero in Oakland.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/bay-sunset.JPG"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>A delicious plate of fried catfish and grits.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/fish-grits.JPG"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>My nieces in Seattle.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/girls-seattle.JPG"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>My niece Maya with a messy face.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/maya-messy.JPG"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>My niece feeding bread to some ducks.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/jasmine-ducks.jpg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>My niece Layla with a piece of paper.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/layla_paper-720.jpeg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>My nephew Marcus with a piece of paper.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/marcus_paper.jpeg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>Some flags in downtown San Francisco.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/sideway-flags.jpg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>A construction crane in downtown San Francisco.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/sideways-crane.jpg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    <h2>A waterfall in downtown San Francisco.</h2>
    <object data="https://s3.amazonaws.com/seubsworld-assets/assets/waterfall.jpg"
        type="image/jpg" width="100%"> 
    </object>
    <br>
    <br>
    </center>
</div>
<% include ../../partials/footer %>