<% include partials/header %>
<h1 class="project-title">About SeubsWorld</h1>
<div class="p-container">
    <p class="text-justify">SeubsWorld is my portfolio website showcasing some 
                            of the work I did in film school, as well as current and future projects, 
                            both film and tech related. It was built from scratch by me using the NodeJS 
                            JavaScript web framework and incoperates a MongoDB data store, as well as HTML5, JavaScript, 
                            CSS, BootStrap 4, and of course the JavaScript language on both the front end and back end. 
                            The site is hosted on a Heroku instance and uses an Amazon Web Services S3 Bucket to serve static assets. 
                            It is a continued work in progress, so if you have any comments or suggestions 
                            regarding the site feel free to write me directly from the contact page.</p>
</div>
<% include partials/footer %>