<% include ./partials/header %>
<div class="container">
        <h1 class="project-title">Jonathan C. Seubert</h1>
        <h1 class="project-title"><a href="mailto:finisher1017@gmail.com">finisher1017@gmail.com</a></h1>
        <h1 class="project-title">612-380-0479</h1>

</div>

<% include ./partials/footer %>