<% include ./partials/header %>


    <div class="container">
        <header class="jumbotron jumbotron-fluid mt-5">
            <div class="container">
                <h1 class="display-1">SeubsWorld</h1>
            </div>
        </header>
        
        
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/main_middle.jpg">
                        <div class="card-title"><h4>John Brown - A Biopic Screenplay</h4></div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/projects/john-brown" class="btn btn-primary btn-dark">Check It Out!</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/parking-meters.jpg">
                        <div class=caption>
                            <h4>The Enforcer - Short Screenplay</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/cine1-broll.png">
                        <div class=caption>
                            <h4>Cine 1 Footage</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <img src="https://s3.amazonaws.com/seubsworld-assets/assets/omega-man.jpg">
                            <div class="card-title"><h4>The Omega Man - A Sound Experience</h4></div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/projects/omega-man" class="btn btn-primary btn-dark">Check It Out!</a>
                        </div>
                    </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/lighting-test.png">
                        <div class=caption>
                            <h4>Lighting Test</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <img src="https://s3.amazonaws.com/seubsworld-assets/assets/layla_paper.jpeg">
                            <div class=caption>
                                <h4>Still Photography</h4>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        
        
        
    </div>

<% include ./partials/footer %>