<% include ./partials/header %>


    <div class="container">
        <!-- <header class="jumbotron jumbotron-fluid mt-5">
            <div class="container">
                <h1 class="display-1">SeubsWorld</h1>
            </div>
        </header> -->
        <h1 class="project-title">Featured Projects</h1>
        
        
        <div class="row">
                <div class="card-columns">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/main_middle.jpg">
                        <div class="card-title"><h4>John Brown - A Biopic Screenplay</h4></div>
                        <p class="card-text">On December 2nd, 1859 Abolitionist John Brown was hung for treason against the 
                                             American Government for leading a raid on the Federal Armory in Harpor’s Ferry, 
                                             Virginia, along with eighteen other men. Brown’s plan was to seize the weapons 
                                             in the Armory and use them to start a slave revolt that would culminate in an all 
                                             out war against the institution of slavery. Although Brown’s plan ended in failure, 
                                             his raid on Harpor’s Ferry polarized the nation over the issue of slavery and Brown 
                                             is credited with being a major catalyst in starting the American Civil War that 
                                             ultimately led to the abolition of slavery.</p>
                        <a href="/projects/john-brown" class="btn btn-primary btn-dark">Check It Out!</a>
                    </div>
                

                
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/parking-meters.jpg">
                        <div class="card-title"><h4>The Enforcer - Short Screenplay</h4></div>
                        <p class="card-text">The Enforcer is the story of Trevor, an unemployed young 
                                man living in San Francisco. Rapidly running low on funds, 
                                Trevor wakes up one morning and prepares for an important 
                                interview downtown. He showers, shaves, and picks the perfect 
                                outfit before he gets in his car and drives off to the interview. 
                                When he arrives at the building downtown he realizes that he only 
                                has a few quarters to plug the parking meter, which will only get 
                                him about twenty minutes. Unable to secure change at local stores 
                                and fearing he will be late for his interview, Trevor decides to 
                                attend his interview with only a few minutes on the meter. Tensions 
                                rise as Trevor enters his interview.</p>
                        <a href="/projects/enforcer" class="btn btn-primary btn-dark">Check It Out!</a>
                    </div>
                

                
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/cine1-broll.png">
                        <div class="card-title"><h4>Cinematography 1 Footage</h4></div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/projects/cine-1" class="btn btn-primary btn-dark">Check It Out!</a>
                    </div>
                

                
                        <div class="card">
                            <img src="https://s3.amazonaws.com/seubsworld-assets/assets/omega-man.jpg">
                            <div class="card-title"><h4>The Omega Man - A Sound Experience</h4></div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/projects/omega-man" class="btn btn-primary btn-dark">Check It Out!</a>
                        </div>
                    

                
                    <div class="card">
                        <img src="https://s3.amazonaws.com/seubsworld-assets/assets/lighting-test.png">
                        <div class="card-title"><h4>Post Production - Lighting Test</h4></div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/projects/lighting-test" class="btn btn-primary btn-dark">Check It Out!</a>
                    </div>
                

                
                        <div class="card">
                            <img src="https://s3.amazonaws.com/seubsworld-assets/assets/layla_paper.jpeg">
                            <div class="card-title"><h4>Still Photography</h4></div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/projects/still-photography" class="btn btn-primary btn-dark">Check It Out!</a>
                        </div>
                    

                
                        <div class="card">
                            <img src="https://s3.amazonaws.com/seubsworld-assets/assets/enforcer-biz.png">
                            <div class="card-title"><h4>Enforcer Business Plan</h4></div>
                            <p class="card-text">This is the business plan for the production of my short screenplay, The Enforcer. 
                                                 The business plan contains a complete production budget, shooting schedule, 
                                                 and other documentation required for a potential production.</p>
                            <a href="/projects/enforcer-biz" class="btn btn-primary btn-dark">Check It Out!</a>
                        </div>
                
                </div>

            
        </div>
        
        
        
        
    </div>

<% include ./partials/footer %>