.project-title {
    margin-top: 40px;
    text-align: center;
}

.btn {
    margin-top: 1rem;
}

.p-container {
    margin: 2.5rem auto 2.5rem auto;
    max-width: 60%;
}

.navbar {
    height: 5rem;
}

.card {
    margin-top: 2em;
}

.footer-text {
    color: white;
    margin: auto;
}

/* .audio {
    text-align: center;
}

.images {
    text-align: center;
} */

/* @include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .jumbotron {
        display: none;
    }

    .btn {
        margin-top: 1rem;
    }

    .p-container {
        margin: 2.5rem auto 2.5rem auto;
        max-width: 80%;
    }

    .container {
        margin: 2.5rem auto 2.5rem auto;
        max-width: 80%;
    }

    .card {
        margin: 2em auto 2em auto;
        max-width: 90%;
    }

    .audio {
        text-align: center;
    }
    
    .images {
        text-align: center;
    }

    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }


    /* .card-text {
        margin: 2.5rem auto 2.5rem auto;
        max-width: 90%;
    } */
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 


}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }


/* @media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

*/





