<% include ../../partials/header %>
<h1 class="project-title">Post Production - Lighting Test</h1>
<div class="p-container">
    <p class="text-justify">This is a lighting test that I did for a Post 
                            Production class I took in film school. The idea 
                            is to film the same subject at the same angle with 
                            both 16mm film and digital video. The subject is 
                            filmed at various f-stops with both cameras for the 
                            purpose of seeing how the exposure of the subject 
                            changes under different conditions. Not very impressive, 
                            but I spent a lot of time on it so here it is.</p>
    

    <div class="video">
        <video controls style="width: 100%;">
            <source src="https://s3.amazonaws.com/seubsworld-assets/assets/final.mp4">
        </video>
    </div>
    
</div>