<% include ../../partials/header %>
<h1 class="project-title">John Brown - A Biopic Screenplay</h1>
<div class="p-container">
<p class="text-justify">On December 2nd, 1859 Abolitionist John Brown was hung for treason against the American Government for leading a raid on the Federal Armory in Harpor’s Ferry, Virginia, along with eighteen other men. Brown’s plan was to seize the weapons in the Armory and use them to start a slave revolt that would culminate in an all out war against the institution of slavery. Although Brown’s plan ended in failure, his raid on Harpor’s Ferry polarized the nation over the issue of slavery and Brown is credited with being a major catalyst in starting the American Civil War that ultimately led to the abolition of slavery. Below are the first twelve pages of the Biopic screenplay I’ve been developing, which follows John Brown from the inception of his plan in the late 1840’s to his raid on Hapror’s Ferry and his execution.</p>
</div>
<center>
    <embed src="https://s3.amazonaws.com/seubsworld-assets/assets/jb_sample.pdf" width="1000px" height="2100px">
</center>
<% include ../../partials/footer %>